<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Course Details</title>
</head>
<body>

<h1>Course Details</h1>




<form action="/course/add" method="post">

Course ID :
<input type="text" name="course_id">

<br><br>

Course Name :
<input type="text" name="course_name">

<br><br>

Credits :
<input type="number" name="credits">

<br><br>

Department :
<input type="text" name="department">

<br><br>

<input type="submit" value="Save Course">

</form>


<br>

<a href="/home.html">Home</a>

</body>
</html>